In [1]:
#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
1. Introduction to R and R Studio
2. Languages of Data Science
3. Introduction to Python
4. Introduction to SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R- language
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas

Data Science Tools:
1. Jupyter
2. R-studio
3. Anaconda

In [2]:
###Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##Author
Praveen